# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# APK / AAB
*.apk
*.aab

# Native build
.externalNativeBuild/
.cxx/

# Python / misc
__pycache__/
*.pyc
